services:
  # --- Infrastructure ---
  
  influxdb:
    image: influxdb:2.7
    container_name: influxdb
    ports:
      - "8086:8086"
    environment:
      - DOCKER_INFLUXDB_INIT_MODE=setup
      - DOCKER_INFLUXDB_INIT_USERNAME=admin
      - DOCKER_INFLUXDB_INIT_PASSWORD=password123
      - DOCKER_INFLUXDB_INIT_ORG=my-org
      - DOCKER_INFLUXDB_INIT_BUCKET=events-bucket
      - DOCKER_INFLUXDB_INIT_ADMIN_TOKEN=my-super-secret-token
    volumes:
      - influxdb_data:/var/lib/influxdb2
    networks:
      - app-network

  kafka:
    image: confluentinc/cp-kafka:7.6.0
    container_name: kafka
    ports:
      - "9092:9092"
    environment:
      KAFKA_NODE_ID: 1
      KAFKA_PROCESS_ROLES: 'broker,controller'
      KAFKA_CONTROLLER_QUORUM_VOTERS: '1@kafka:29093'
      KAFKA_LISTENERS: 'PLAINTEXT://kafka:29092,CONTROLLER://kafka:29093,PLAINTEXT_HOST://0.0.0.0:9092'
      KAFKA_ADVERTISED_LISTENERS: 'PLAINTEXT://kafka:29092,PLAINTEXT_HOST://localhost:9092'
      KAFKA_LISTENER_SECURITY_PROTOCOL_MAP: 'CONTROLLER:PLAINTEXT,PLAINTEXT:PLAINTEXT,PLAINTEXT_HOST:PLAINTEXT'
      KAFKA_CONTROLLER_LISTENER_NAMES: 'CONTROLLER'
      KAFKA_INTER_BROKER_LISTENER_NAME: 'PLAINTEXT'
      CLUSTER_ID: 'MkU3OEVBNTcwNTJENDM2Qk'
      KAFKA_OFFSETS_TOPIC_REPLICATION_FACTOR: 1
      KAFKA_GROUP_INITIAL_REBALANCE_DELAY_MS: 0
    networks:
      - app-network

  kafka-ui:
    image: provectuslabs/kafka-ui:latest
    container_name: kafka-ui
    ports:
      - "8080:8080"
    environment:
      KAFKA_CLUSTERS_0_NAME: local
      KAFKA_CLUSTERS_0_BOOTSTRAPSERVERS: kafka:29092
    depends_on:
      - kafka
    networks:
      - app-network

  # --- Your Applications ---

  events-api:
    container_name: events-api
    build:
      context: ./src/EventsApi
      dockerfile: Dockerfile
    ports:
      - "5150:8080"
    environment:
      - Kafka__BootstrapServers=kafka:29092
      - InfluxDB__Url=http://influxdb:8086
      - InfluxDB__Token=my-super-secret-token
      - ASPNETCORE_HTTP_PORTS=8080
      - ASPNETCORE_ENVIRONMENT=Development 
    depends_on:
      - kafka
      - influxdb
    networks:
      - app-network

  events-consumer:
    container_name: events-consumer
    build:
      context: ./src/EventsConsumer
      dockerfile: Dockerfile
    environment:
      - Kafka__BootstrapServers=kafka:29092
      - InfluxDB__Url=http://influxdb:8086
      - InfluxDB__Token=my-super-secret-token
      - Kafka__GroupId=docker-consumer-group
    depends_on:
      - kafka
      - influxdb
      - events-api
    networks:
      - app-network

  events-fe:
    container_name: events-fe
    build:
      context: ./src/events-fe
      dockerfile: Dockerfile
    ports:
      - "5173:80"
    depends_on:
      - events-api
    networks:
      - app-network

networks:
  app-network:
    driver: bridge

volumes:
  influxdb_data: